version: '3.8'
services:
  neo4j:
    image: neo4j:latest
    container_name: neo4j_flight_booking
    ports:
      - "7474:7474"
      - "7687:7687"
    environment:
      NEO4J_AUTH: neo4j/password
    volumes:
      - neo4j_data:/data
  redis:
    image: redis:latest
    container_name: redis_flight_booking
    ports:
      - "6379:6379"
  mysql:
    image: mysql:8.0
    container_name: mysql_flight_booking
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: flightbooking_db
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  app:
    build: .
    container_name: flightbooking_app
    ports:
      - "8080:8080"
    environment:
      # Override localhost with service names
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/flightbooking_db?createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true&useSSL=false
      SPRING_DATASOURCE_PASSWORD: rootpassword
      SPRING_NEO4J_URI: bolt://neo4j:7687
      SPRING_DATA_REDIS_HOST: redis
    depends_on:
      mysql:
        condition: service_healthy
      neo4j:
        condition: service_started
      redis:
        condition: service_started

volumes:
  neo4j_data:
  mysql_data:
